<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/navbar.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/" title="Home">
            <img src="./home.svg" alt="">
        </a>
        <a href="/new" title="Add Message">
            <img src="./add.svg" alt="">
        </a>
    </nav>
</body>
</html>