<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/new.css">
    <title>New Messages</title>
</head>
<body>
    <div class="upperBoard">
        <div>
            <%- include('./partials/navbar'); %>
        </div>
        <div class="mainPage">
            <div class="mainHead">
                <%- include('./partials/header'); %>
            </div>
            <div class="mainForm">
                <%- include('./partials/form') %>
            </div>
        </div>
    </div>
    <div class="footBar">
        <%- include('./partials/footer'); %>
    </div>
</body>
</html>