* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    display: flex;
    justify-content: center;
    margin: 0px auto;

    position: fixed;
    bottom: 0;
    width: 100%;

    background-color: rgb(48, 48, 48);
    color: #fff;
    padding: 10px 0;
    font-size: 0.9em;
}

footer span {
    margin: 0px 5px;
}