form {
    display: flex;
    flex-direction: column;
}

.addMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.addMessage input,
.addMessage textarea {
    margin: 5px 0px;
    border-radius: 5px;
    padding: 5px;
}

button {
    margin: 10px auto;
    padding: 8px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    color: #fff;
    background: rgb(151, 63, 233);
    transition: background 0.3s ease-in-out;
}

button:hover {
    cursor: pointer;
    background: rgb(80, 31, 126);
}