.headPage {
    display: flex;
}

.headImg {
    padding: 10px;
    background-color: blueviolet;
    border-radius: 50%;
    margin: 10px;
    display: flex;
}

.headName {
    align-self: center;
    margin-left: 5px;
    font-size: 1.2em;
}