@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: rgb(221, 221, 221);
}

.upperBoard {
    display: flex;
    flex-direction: column;
}

.headPage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.headPage img {
    padding: 10px;
    background-color: blueviolet;
    border-radius: 50%;
    margin: 10px;
}

.headPage h1 {
    font-size: 2.5em;
}

.mainBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px auto;
    border-radius: 8px;
    background: #fff;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.user {
    margin: 10px;
    display: flex;
    align-items: center;
}

.user img {
    width: 10%;
}

.userDate {
    margin-left: 10px;
}

.userDate p {
    font-size: 0.9em;
    font-weight: 600;
}

.userDate span {
    font-size: 0.7em;
    color: grey;
}

.userPost {
    margin: 0px 15px;
}

.userPost p {
    font-size: 2em;
}

.postButtons {
    margin: 10px 0px;
}

.postButtons img {
    margin-right: 10px;
    width: 4%;
}

.postButtons img:hover {
    cursor: pointer;
    filter: brightness(0) saturate(100%)
}

.backHome {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;

    background: rgb(151, 63, 233);
    width: 100px;
    border-radius: 8px;
    padding: 8px 15px;
}

.backHome p {
    color: #fff;
    margin-left: 5px;
}