@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: rgb(221, 221, 221);
}

.upperBoard {
    display: flex;
}

.mainPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;

    animation: animate 0.8s backwards;
}

.mainForm {
    margin: 20px 0px;
}

@keyframes animate {
    0% { opacity: 0; }
    100% { opacity: 1; }
}